<div class="modal fade" id="schedule-form-modal" tabindex="-1" aria-labelledby="schedule-form-modal-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-form">
                {% include "components/form/_schedule_form.html.twig" with {'form' : form} %}
            </div>
        </div>
    </div>
</div>